@using Atico_Shared.Interfaces

 <div class="News_Card w-100 p-3  align-content-center justify-content-center @(Has_Multi_Desciptions? "w-75": "" )" style="@(Has_Multi_Desciptions? "min-height: 80vh !important;": "" )" >
    <div class="News_Container px-2 py-1 " >
        @if(!Has_Multi_Desciptions){
            <img class=" img-thumbnail w-100 h-auto border-0  bg-transparent border-0" src="@Data_Set.Img_Path" alt="" sizes="13rem auto" style=" border-radius: 30px; @(Has_Multi_Desciptions? "  background-color:#D9D9D9 !important; min-height: 30vh !important; max-height: 50vh !important; " : "" )" >
        }
        else{
            <img class=" img-thumbnail w-100 h-auto border-0  bg-transparent border-0" src="@Data_Set.Img_Path" alt="" sizes="13rem auto" style=" border-radius: 30px; @(Has_Multi_Desciptions? "  background-color:#D9D9D9 !important; min-height: 30vh !important; max-height: 50vh !important; " : "" )" >

            
        }
        <div class="News_description" style=" margin-bottom: 3rem !important;   justify-items: start;">
            <h2 class="News_Title w-100 title  align-self-center justify-self-start " style="@(Has_Multi_Desciptions? "font-size: x-large; text-align: center; " : "" ) ">@Data_Set.Title</h2>
            @if(!Has_Multi_Desciptions){
                <a href="/News_Info/@Data_Set.Id" class="News_Link"  >
                    know more about this news
                </a>
            }
            else{
                <ul class="ul_Descriptions d-flex row w-100 h-auto p-1  " style="@(Has_Multi_Desciptions? "" : "display: none !important;" ) ">
                    @{
                        int nos =0;
                        foreach(var description in Data_Set.Description_set ){
                            <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-6 px-2 il_Descriptions text-start" style="@((nos%2 == 0)? "border-right: solid 0.5rem #626262;" : "border: none" ) "> @description</li>
                            nos++;
                        }
                    }
                </ul>
            }
            
           
            
        </div>
    </div>
</div>


@code{
    [Parameter]
    public bool Has_Multi_Desciptions{get; set;} = false;
    [Parameter]
    public IViewData_set Data_Set {get; set;} = new News() ;
    public List<IViewData_set>? Img_Set {get; set;}  
    protected override void OnParametersSet(){
        if(Img_Set is null && Has_Multi_Desciptions){
            var nos=1;
            Img_Set = new List<IViewData_set>();
            foreach(var img in Data_Set.Img_Path_set){
                Img_Set.Add( new ViewObject(nos,"",img)  ); 
            }   
        }
          
    }
    
}    